.btn-regular{
    padding: 10px 40px;
    border-radius: 12px;
    display: inline-block;
    border: 1px solid rgba(1, 1, 1, 0.19);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-menu{
  padding: 10px 40px;
  display: inline-block;
  border: transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  width: 160px;
  height: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-regular:hover,.btn-regular:focus, .btn-menu:hover,.btn-menu:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

$colors: (
  purple: #a972cb,
  red: #ef6eae, 
  orange: #ff7f82, 
  yellow: #ffa260, 
  lime: #e4cb58, 
  green: #8fc866, 
  blue: #19bc8b
);

@each $button, $color in $colors {
  .#{$button} {
    --color: white;
    --hover: #{adjust-hue($color, 45deg)};
    border-color: #{$color};
    background-color: #{$color};
  }
}

.btn {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}


